<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <style>
        button.redClass{
            background-color: red;
            border: 1px solid;
            color: white;
        }
        button{
            background-color: blue;
            border: 1px solid;
            color: white;   
        }
    </style>
  </head>
  <body>
    <div id="app">
      <owt></owt>
      <br />
      {{ message }}
      <br />
      {{ name }}
      <br />
      {{ getVariable() }}
      <br />
      {{welcome("Amit")}}
      <br />
      <a v-bind:href="urlLink">google</a>
      <br />
      <h2>Couter : {{ count }}</h2>
      <button v-on:click="increment()">Increment</button>
      <br />
      <input type="text" v-model="textValue">
      {{textValue}}
      <br />
      <input type="text" v-model="kiloMeterValue" placeholder="Enter Kilometer">
      Convert Into Meter:{{ convertTokilometer }}
      <br />
      <button v-bind:class="{redClass:isActive}" @click="toggleClass">Toggle Class</button>
      <br />
      <br />
      First Name : <input type="text" v-model="firstname">
      Last Name : <input type="text" v-model="lastname">
      <br />
      fullName: {{ fullName }}
    </div>

    <script src="app.js"></script>
  </body>
</html>
